# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# IDE
.vscode/
.idea/
.vs/

# OS
.DS_Store
Thumbs.db

# Visual Studio
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# Crash reports
sysinfo.txt
